@font-face {
    font-family: 'fonts/ebasmedium';
    src: url('../fonts/ebas927.eot');
    src: url('../fonts/ebas927.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebas927.woff2') format('woff2'),
         url('../fonts/ebas927.woff') format('woff'),
         url('../fonts/ebas927.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#chinese {
  font-family: 'fonts/ebasmedium';
  margin-top: 20%;
  letter-spacing: normal;
  line-height: 100%;
  text-align: center;
  font-size: 30px;
}
